[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "third-party/micropython"]
	path = third-party/micropython
	url = https://github.com/micropython/micropython.git
[submodule "third-party/lvgl"]
	path = third-party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "third-party/TFT_eSPI"]
	path = third-party/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
